body
{
    font-family: 'Roboto Mono', monospace;
}

header
{
    display: flex;
    background-color: rgb(203, 121, 201);
    color: #0a0a0a;
    padding: 1.5rem;
    border-radius: 1.5rem;
    align-items: center;
}

.titulo {
    margin-left: 5%;
    font-size: 2.5rem;
}

button{
    display: none;
}


nav ul {
    list-style-type: none;
    display: flex ;
}

nav li {
    margin-right: 2%;
    font-size: ;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    transition: 0.5s;
    display: block;
    border-radius: 0.5rem;
}

nav a:hover{
    background-color: rgba(6, 6, 6, 0.322);
}



@media screen and (max-width: 600px) {
    header {
        text-align: center;
        display: block;
    }

    nav{
        display: none;
        background-color: gray;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        margin: 10px 0;
    }

    nav a {
        display: block;
    }

    button{
        display: block;
        background: none;
        margin: auto;
    }
    
    span{
        color: white;
        cursor: pointer;
    }

    button:focus ~ nav{
        display: block;
    }    

    main{
        width: 90vw;
    }
    
}